{% load thumbnail %}
<div class="row my-5">
	<div class="col-lg-2"></div>
	<div class="col-lg-3">
		<img src="{{ post.get_thumbnail }}" alt="" class="img-fluid mr-3 mb-3 mx-auto" />
	</div>
	<div class="col-lg-5">
		<div class="mb-4">
			<h4><a href="{% url 'posts:detail' post.slug %}" class="text-dark">{{ post.title }}</a></h4>
			<div class="text-muted pb-3" >
				{{ post.date_string }} door {{ post.authors_string }}
			</div>
			<p "mt-3">
				{{ post.leader_text }}
			</p>
    </div>
	</div>
	<div class="col-lg-2"></div>
</div>

