{% extends 'base.html' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
<div class="row"> 
	
	<div class="col-lg-2"></div>

	<div class="col-lg-8">

		<h1 class="mb-2 mt-3">{{ post.title }}</h1>
		<div class="text-muted">{{ post.date_string }} door {{ post.authors_string }}</div>

		<img src="{{ post.leader_image.url }}" alt="" class="img-fluid pt-3 pb-5" />


{% autoescape off %}
		<div class="post-body">{{ post.to_html }}</div>
{% endautoescape %}

	</div>

	<div class="col-lg-2"></div>
</div>

{% endblock %}

